<div class="banner">
  <img
    [src]="bannerImage"
    alt="Marvel superheroes banner"
    class="banner__image"
  />
  <div class="banner__overlay"></div>
  <div class="banner__content">
    <div class="banner__text-container">
      <h1 class="banner__title">
        MARVEL HEROES
      </h1>
      <p class="banner__subtitle">
        Discover the legendary superheroes of the Marvel Universe
      </p>
      <div class="banner__decoration">
        <div class="banner__decoration-line"></div>
        <div class="banner__decoration-text">
          Earth's Mightiest Heroes
        </div>
        <div class="banner__decoration-line"></div>
      </div>
    </div>
  </div>
</div> 